@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "Portfolio-theme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f8f1e7;
  --color-base-200: #f2e2d9;
  --color-base-300: #ffe5bf;
  --color-base-content: #332005;
  --color-primary: #911313;
  --color-primary-content: #fff;
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #0000ff;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #f2e2d9;
  --color-neutral-content: #911313;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
html {
  @apply scroll-smooth;
}
body {
  @apply font-mono;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}
.font-serif {
  font-family: "Arbutus Slab", serif !important;
}

/* Override Tailwind's font-mono */
.font-mono {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

::selection {
  @apply bg-primary text-primary-content;
}
.grid-bg {
  background-color: var(--color-base-300);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.24) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 1px, transparent 1px);
  background-size: 3rem 3rem; /* size of each square */
}

.hero-link {
  @apply btn btn-primary btn-square bg-base-200 btn-lg border-2 border-primary text-primary;
  box-shadow: 0.25rem 0.25rem var(--color-primary);
}

.hero-link > i {
  @apply text-3xl;
}

.hero-link-wide {
  @apply btn btn-primary bg-base-200 btn-lg border-2 border-primary text-primary text-xl;
  box-shadow: 0.25rem 0.25rem var(--color-primary);
}

.hero-link:hover,
.hero-link-wide:hover {
  @apply bg-base-300;
}

.hero-link:active,
.hero-link-wide:active {
  box-shadow: 0.125rem 0.125rem var(--color-primary);
}

.max-width {
  @apply max-w-5xl;
}

.project-screenshot {
  @apply btn-primary bg-base-200 border-primary border-4 text-primary;
}

.badge:hover {
  @apply transition-colors duration-200 bg-base-200;
}

* {
  scrollbar-color: var(--color-primary) var(--color-base-300);
  scrollbar-width: thin;
}
